nav{
    background: linear-gradient(to right, rgb(85, 84, 84), rgb(172, 167, 167));
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    margin-left: 10px;
    color: #fff;
    font-size: x-large;
    font-style: italic;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
.links a{
    color: white;
    text-decoration: none;
    margin: 5px;
}
.search{
    margin-right: 50px;
}
#conditionInput{
    border-color: white;
    color: rgb(23, 192, 169);
    font-size: medium;
    height: 25px;
    width: 300px;
    border-radius: 10px;
}
#btnSearch, #btnClear{
    background-color: green;
    border-color: green;
    height: 25px;
    color: White;
    border-radius: 3px;
}
.container{
    background-image:linear-gradient(to right, rgba(0, 102, 109, 0.432), rgba(172, 167, 167, 0)), url('https://images.unsplash.com/photo-1620015092538-e33c665fc181?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-blend-mode: multiply;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.vertical-line {
    border-left: 3px solid rgb(255, 255, 255);
    height: 500px;
    margin-left: 40px;
    align-items: center;
  }

  .social-media-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: baseline;
  }

  .social-media-list li {
    margin-bottom: 10px;
  }
  
  .social-media-list li a {
    display: block;
    color: white;;
  }
.content1{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: baseline;
    margin-left: 3rem;
}

.big{
    display: block;
    font-size: xx-large;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:500;  
}
  .big-text{    
  }
.paragraph{
    width: 400px;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: baseline;
    margin-top: 1rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}
.bookNow{
    background-color: rgb(0, 102, 109);
    height: 2rem;
    color: white;
    width:110px;
    align-items: center;
    border-radius: 5px;
    border-color: rgb(0, 102, 109);
}

.content-about{
    /* margin-top: -500px; */
    display: flex;
    flex-direction: column;
    color: white;
    align-items: baseline;
    margin-left: 3rem;
}